:root {
    --main-bg-color: #2F3E46 ;
    --main-text-color: #CAD2C5;
    --secondary-text-color: #6B9080;
    --font-family: Monospace;
}
.all-bg{
    background-color: var(--main-bg-color) ;
    background-size: cover;
    color: var(--main-text-color);
    font-family: var(--font-family);
    width: 100vw;
    height: 100%;
    margin-top: 50px;
}

/* Navbar */
.logo {
    height: auto; 
    width: 8vh;
    clip-path: circle();
}
/* Home Page */
.home-flex-container {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}
.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.home-content{
    justify-content:center;
    padding: 1%;
    color: var(--secondary-text-color);
    font-size: 1.5vw;
    text-align:left;
}
.home-content-div{
    margin-top: 5vh;
}
.home-button-container{
    border: 1px whitesmoke;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 25px;
    height: auto;
}
.profile {
    clip-path: ellipse(200px 170px at 215px 230px);
    height: 400px;
    width: 500px;
    margin: 10% 5% 5% 5%;
}
.greeting{
    font-size: 2vw;
}
.name{
    font-size: 5vw;
    margin-top: 5%;
    text-shadow: 2px 2px var(--secondary-text-color);
}

/* About page */
.about-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.about-main-div{
    width: 50%;
    margin-top: 50px;
}
.about{
    text-align: center;
    line-height: 40px;
    font-size: larger;
    padding: 5%;
    text-align:left;
}
.button-container{
    border: 1px whitesmoke;
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    margin: 25px;
}

/* experience page */
.experience-flex-container{
    display: flex;
    flex-direction: column;
}
.summary{
    width: auto;
    height: auto;
    margin: 10vh;
    padding: 10px;
    text-align: center;
    color: var(--secondary-text-color);
    justify-content: center;
    border-bottom: 5px solid;
}
.jobs{
    padding: 3%;
    margin: 3%;
    justify-content: center;
    height: 90%;
}
ul{
    list-style: square;
}
ul li{
    text-align: left;
    text-transform: upperase;
    padding: 5px;
}
.text-shadow{
    color: var(--secondary-text-color);
}

/* Projects page */
.project-flex-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}
.title{
    text-align: center;
    text-shadow: 2px 2px var(--secondary-text-color);
    height: auto;
    width: auto;
    border-bottom: 5px solid var(--secondary-text-color);
    margin: 4%;
    padding: 5%;
    font-size: 50px;
}
.project{
    padding: 30px;
    margin: 1%;
    height: 75%;
    width: 50%;
}
.project-title{
    font-size: 40px;
}
.project-discription{
    margin: 8px;
    padding: 2px;
    font-size: 20px;
    text-align: left;
    margin: 3%;
}
.built{
    font-size: 15px;  
    text-align: left;
    margin-top: 10%
}
a{
    font-size: 18px;
}
/* unvisited link */
a:link {
    color:var(--secondary-text-color);
}
  
/* visited link */
a:visited {
    color:var(--secondary-text-color);
}
  
/* mouse over link */
a:hover {
    color:#22223B;
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}

/* contact me  */
.contact-flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.contact{
    height: 25%;
    width: 80%;
    padding: 5%;
    margin-top: 10%;
    align-content: center;
}
.email{
    font-size: 25px;
    cursor: pointer;
}